
.nav { 
    position: relative;
    left:  250px;
    top: 20px;
    right: 100px;
    background-color: white;
    height: 50px;
    width: 1000px;
    background-color: white;
    height: 100px;
    width: 1000px;
}

.menu {
    position: relative;
    margin: 0px -10px;
    padding: 10px 0px;
    left:  250px;
    top: 20px;
    right: 100px;
    background-color: white;
    height: 100px;
    width: 1000px;
    font-size: 15px;  
}

/*.nav div{

    float: left;

}
*/


.gen{
    height: 1000px;
    width: 1000px;
    background-color: white;
}

.devise {
    height: 17px;
    width: 101px;
}

.connexion {
    height: 17px;
    width: 91px;
}

.compte {
    height: 17px;
    width: 91px;
}

.search {
    position: relative;
    height: 100px;
    width: 100px;
    left:  400px;
    top:  -20px;
  }

.wrap {
    height: 50px;
    width: 900px;
}

.panier img{
    position: relative;
    height: 30px;
    width: 30px;
    left:  698px;
    top:  -25px;
}

.macoque {
    width: 600px;
    height: 200px;
    left: 800px;
    right: 200px;
    top: -20px;
    text-align: center;
}

.menu {
    position: relative;
    top: 20px;
    width: 900px;
    height: 50px;
 }

.menu div{
    float: left;
}

.menu2 {
    height: 50px;
    width: 80px;
}

.apple  {
    height: 50px;
    width: 80px;
}

.samsung  {
    height: 50px;
    width: 100px;
}

.sony  {
    height: 50px;
    width: 70px;
}

.lg  {
    height: 50px;
    width: 60px;
}

.htc  {
    height: 50px;
    width: 60px;
}

.huawei  {
    height: 50px;
    width: 80px;
}

.asus  {
    height: 50px;
    width: 80px;
}

.wiko {
    height: 50px;
    width: 80px;
}

.autres  {
    height: 50px;
    width: 80px;
}

.accesoires  {
    height: 50px;
    width: 100px;
}

.home  {
 position: relative;
    margin: 0px -10px;
    padding: 10px 0px;
    left:  250px;
    right: 100px;
    height: 100px;
    width: 1000px;
    background-color: white;
}
.homeul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(250, 243, 243);
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .cart {
      height: 30px;
      width: 30px;
  }
 
  .panierfont {
      left:800px;
  }

  .container {
    height: 400px;
    width: 900px;
}

.container div {
    float: left;
}

.container-gauche div{
    height: 400px;
    width: 450px;
}

.container-droit{
    position: relative;
    left:40px;
    height: 400px;
    width: 450px;
}

.coque {
    height: 400px;
    width: 400px;
}

.prix {
    font-size: 32px;
}

.qte
{
    text-align: center;
    height: 31px;
    width: 78px;
}

.ulajouter {
    height: 50px;
    width: 150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    text-align: center;
  }

  .coeur {
      width: 20px;
      height: 20px;
  }

  .liste {
    width: 150px;
    height: 50px;
      background-color: white;
  }

.note{
    font-size: bold;
    font-style: bold;
}

.note_com {
    height: 50px;
    width: 25   0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    text-align: center;
  }

  footer {
	position : relative;
	text-align: center;
	top: 800px;
}

.bas_de_page1 div {
	float: left;
}

.bas_de_page1 {
     position: relative;
    top: 900px;
    left:80px;
	width: 1200px;
	height: 300px;
}

.logosite {
	position: relative;
	width: 200px;
	height: 300px;
}

.apropos {
	position: relative;
	width: 700px;
	height: 300px;
}

.suiveznous {
	position: relative;
	width: 300px;
    height: 300px;
	left: 40px;
}

.bas_de_page2 div {
	float: left;
}
.bas_de_page2 {
	width: 1200px;
	height: 300px;
	position: relative;
	top: 900px;
	left: 200px;
}

.mon_compte {
	position: relative;
	width: 200px;
	height: 300px;
}

.liens_utiles {
	position: relative;
	width: 200px;
	height: 300px;

}

.informations {
	position: relative;
	width: 200px;
	height: 300px;
}

.paiements_securises {
	position: relative;
	width: 200px;
	height: 300px;
}

.nav {
    position: relative;
    left:  100px;
    top: 20px;
    right: 100px;
    background-color: white;
    height: 50px;
    width: 1000px;
}

.logo {
    position: relative;
    margin: 0px -10px;
    padding: 10px 0px;
    left:  300px;
    top: 20px;
    background-color: white;
    height: 100px;
    width: 1000px;
}

.menu {
    position: relative;
    margin: 0px -10px;
    padding: 10px 0px;
    left:  250px;
    top: 20px;
    right: 100px;
    background-color: white;
    height: 100px;
    width: 1000px;
    font-size: 15px;   
}

.nav div{
    float: left;
}

.gen   {
    height: 297px;
    width: 1000px;
    background-color: white;
}

.devise {
    height: 17px;
    width: 101px;
}

.connexion {
    height: 17px;
    width: 91px;
}

.compte {
    height: 17px;
    width: 91px;
}

.search {
    position: relative;
    height: 100px;
    width: 100px;
    left:  400px;
    top:  -20px;
}

.wrap {
    height: 50px;
    width: 900px;
}

.panier {
    position: relative;
    height: 100px;
    width: 100px;
    left:  700px;
    top:  -40px;
}

.macoque img {
    width: 100%;
    height: 100%;
    left: 800px;
    right: 200px;
    top: -20px;
    text-align: center;
}

.menu {
    position: relative;
    top: 20px;
    width: 900px;
    height: 50px; 
    display: flex;
justify-content: space-between;
}

.menu div{
    float: left;
}

.menu2 {
    height: 50px;
    width: 80px;
}

.apple  {
    height: 50px;
    width: 80px;
}

.samsung  {
    height: 50px;
    width: 100px;
}

.sony  {
    height: 50px;
    width: 70px;
}

.lg  {
    height: 50px;
    width: 60px;
}

.htc  {
    height: 50px;
    width: 60px;
}

.huawei  {
    height: 50px;
    width: 80px;
}

.asus  {
    height: 50px;
    width: 80px;
}

.wiko {
    height: 50px;
    width: 80px;
}

.autres  {
  height: 50px;
  width: 80px;
  }

.accesoires  {
    height: 50px;
    width: 100px;
}

.home  {
    position: relative;
    margin: 0px -10px;
    padding: 10px 0px;
    left:  150px;
    right: 100px;
    height: 100px;
    width: 1000px;
    background-color: white;
}

.homeul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }  

  .cart {
      height: 30px;
      width: 30px;
  }

  .panierfont {
      left:800px;
  }

  .container {
    height: 400px;
    width: 900px;
}

 .container div {
    float: left;
}

.container-gauche div{
    height: 400px;
    width: 450px;
}

.container-droit{
    position: relative;
    left:40px;
    height: 400px;
    width: 450px;
}

.coque {
    height: 400px;
    width: 400px;
}

.prix {
    font-size: 32px;
}
.qte{
    text-align: center;
    height: 31px;
    width: 78px;
}

.ulajouter {
    height: 50px;
    width: 150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    text-align: center;
  }

.coeur {
      width: 20px;
      height: 20px;
  }

  .liste {
    width: 150px;
    height: 50px;
    background-color: white;
  }

.note{
    font-size: bold;
    font-style: bold;
}

.note_com {
    height: 50px;
    width: 25   0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    text-align: center;
  }
  .barre5{
    display: flex;
    flex-direction: row;
    
  }

/*.barre5 div{
  width: 30%;
  display: flex;
  flex-wrap: nowrap;
  

}*/


.decouverte  {
  width: 30%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 50px;  
  justify-content: space-between;
}

  footer {
    position : relative;
    text-align: center;
    top: 30px;
  }

  .bas_de_page1 div {
    float: left; 
  } .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  /*.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }*/

  .bas_de_page1 {
    width: 1200px;
    height: 300px;
    left: 30px;
    top: 100px;
    position: relative; 
  }

  .logosite {
    position: relative;
    width: 200px;
    height: 300px;
  }

  .apropos {
    position: relative;
    width: 700px;
    height: 300px;
  }

  .suiveznous {
    position: relative;
    width: 300px;
    height: 300px;
    left: 40px;
  }
  
  .bas_de_page2 div {
    float: left;
  }
  
  .bas_de_page2 {
    position: relative;
    top: 100px;
    width: 1300px;
    height: 300px;
    left: 40px;
  }
 
  .mon_compte {
    position: relative;
    width: 200px;
    height: 300px;
  }
  
  .liens_utiles {
    left: 150px;
    position: relative;
    width: 200px;
    height: 300px;
  }
  
  .informations {
    left: 200px;
    position: relative;
    width: 200px;
    height: 300px;
  }

  .paiements_securises {
    position: relative;
    left: 250px;
    width: 200px;
    height: 300px;
  }
  
