


.nav {
    position: relative;
  
    left:  250px;
    top: 20px;
    right: 100px;
    
    background-color: white;
    height: 50px;
    width: 100%;
   
}



.logo {
    height: 100px;
    width: 300px;
    position: relative;
    margin: 0px -10px;
    
    left:  200px;
    top: -60px;

    
    background-color: white;
    height: 100px;
    width: 1000px;
   
}


.menu {
    position: relative;
    margin: 0px -10px;
    padding: 10px 0px;
    left:  250px;
    top: 200px;
    right: 100px;
    
    background-color: white;
    height: 100px;
    width: 1000px;
    font-size: 15px;
   
}





.nav div{
    float: left;
}

.nav {
    position: relative;
    top: 0px;
}


.gen  {
    height: 100%;
    width: 100%;
    background-color: white;
}

.devise {
    height: 17px;
    width: 101px;
    font: 12px "Open Sans" ,sans-serif;
    color: #666666;
}

.description {
    font: 12px "Open Sans" ,sans-serif;
}

.healdine {
    font: 20px "Open Sans" ,sans-serif;
}


.connexion {
    height: 17px;
    width: 91px;
    font: 12px "Open Sans" ,sans-serif;
    color: #666666;
}

.compte {
    height: 17px;
    width: 91px;
    font: 12px "Open Sans" ,sans-serif;
    color: #666666;
    
}

.search {
    position: relative;
    height: 100px;
    width: 500px;
    left:  600px;
    top:  -20px;
    color: #666666;
   
}

.search div{
    float: left;
}

.


.panier {
    position: relative;
    height: 100px;
    width: 100px;
    left:  500px;
    top:  -20px;
   
}






.macoque {
    width: 100s%;
    height: 100%;
    left: 200px;
    right: 500px;
    top: 20px;
    text-align: center;
}


.menu {
    position: relative;
    top: -120px;
    width: 900px;
    height: 50px;
   
    
}

.coque {
    height: 400px;
    width: 400px;
}

	
.prix {
    font-size: 32px;
    
}

.qte
{
    text-align: center;
    height: 31px;
    width: 78px;
}

.ulajouter {

    height: 50px;
    width: 150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    text-align: center;
  }

  .coeur {
      width: 20px;
      height: 20px;
  }

  .liste {
    width: 150px;
    height: 50px;
      background-color: white;
  }

.note{
    font-size: bold;
    font-style: bold;
}


.note_com {

    height: 50px;
    width: 25   0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    text-align: center;
  }



  .Search-bar div{
      float: left;
  }



  .Search-bar {
      position: relative;
      width: 150px;
      left : 200px;
      text-align: center;
  }
  
  


    .font {
        left : 800px;
    }


    .btn-cart {
        left : 450px ;
        width: :50px;
    }

    .glyphicon-shopping-cart {
        left : 1000px ;
        width: :50px;
    }



    .dropbtn {
        position: relative;
        height : 20px;
        top:  -15px;
        background-color: white;
        color: black;
        padding: 16px;
        font-size: 14px;
        border: none;
        font: 12px "Open Sans" ,sans-serif;

      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        top: 0.5px;
      }
      
      .dropdown-content {
        display: none;
        top: 20px;
        position: absolute;
        background-color: black;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font: 12px "Open Sans" ,sans-serif;
      }
      
      .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {background-color: white ;}

      .shopping-cart{
       
          
      }
  #couleur {
    font: 13x "Open Sans" ,sans-serif;
  }

  .dot1 {
    height: 25px;
    width: 25px;
    background-color:black;
    border-radius: 50%;
    display: inline-block;
  }

  .dot2 {
    height: 25px;
    width: 25px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
  }

  .dot3 {
    height: 25px;
    width: 25px;
    background-color:yellow;
    border-radius: 50%;
    display: inline-block;
  }

  .btn-dark {
      background-color: black;
      color: aliceblue;
      width: 100%;
      

  }

  .btn-dark1 {
    background-color:grey;
    color: white;
    width: 50%;
    

}

.rawlogo div
{
float: left;
}

#carre {
    width: 20px;
    height: 20px;
    border: red;
    height: 30px;
    width: 30px;
    background: black;
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */
}

  .col-sm-30 {
      left: 50px;
  }




      .search-btn
      {
        position: relative;
        right:-430px;
       background: white;
          height: 34px;
          box-sizing: border-box;
      }

      .fa-search {
          background-color: white;
      }

      .fa-search::after {
        background-color: white;
    }









    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
      }
      
      /* Style the submit button */
      form.example button {
          position: relative;
        float: left;
        width: 20%;
        padding: 10px;
        background: black;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
        left: 428px;
      }
      
      form.example button:hover {
        background: white;
      }
      
      /* Clear floats */
      form.example::after {
        content: "";
        clear: both;
        display: table;
      }




      .container {
        padding-top: 40px;  
    }


    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 550px;
      }
      
      /* Style the Un-order list by setting its list-style to none */
      .wrapper ul {
        list-style: none;
      }
      
      /* Style the list items inside the UL list, by setting its width, height and line-height 
        and float them to left and set its border and border-radius.
       */
      .wrapper ul li {
        width: 75px;
        height: 75px;
        line-height: 75px;
        margin: 0 10px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        border: 5px solid #D8E2DC;
        float: left;
        transition: all 0.5s ease;
      }
      
     


      .pp {
          width: 1000px;
      }