.navbar-brand img {
  max-height: 40px;
}

footer {
  position: relative;
  align-content: center;
  text-align: center;
  top: 400px;
}

.bas_de_page1 div {
  float: left;
}

.bas_de_page1 {
  position: relative;
  top: 400px;
  left: 80px;
  width: 1200px;
  height: 300px;
}

.logosite {
  position: relative;
  width: 200px;
  height: 100px;
  bottom: 00px;
}

.apropos {
  position: relative;
  width: 700px;
  height: 300px;
}

.suiveznous {
  position: relative;
  width: 300px;
  height: 300px;
  left: 40px;
}

.bas_de_page2 div {
  float: left;
}

.bas_de_page2 {
  width: 1300px;
  height: 300px;
  position: relative;
  top: 400px;
  left: 200px;
}

.mon_compte {
  position: relative;
  width: 200px;
  height: 300px;
  left: 50px;
}

.liens_utiles {
  position: relative;
  left: 30px;
  width: 200px;
  height: 300px;
  left: 100px;
}

.informations {
  left: 30px;
  position: relative;
  width: 200px;
  height: 300px;
  left: 100px;
}

.paiements_securises {
  left: 60px;
  position: relative;
  width: 200px;
  height: 300px;
  left: 150px;
}

.titre_marque_produit {
  margin-left: 16%;
  font-size: 30px;
  font-weight: bold
}

.titre_sous_categorie {
  margin-left: 16%;
  font-size: 30px;
  font-weight: 300
}

.logo_marque_produit {
  height: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22%;
}

.logo {
  height: 100px;
  width: 300px;
  position: relative;
  margin: 0px -10px;
  left: 200px;
  top: -60px;
  background-color: white;
  height: 100px;
  width: 1000px;
}

.menu {
  position: relative;
  margin: 0px -10px;
  left: 250px;
  background-color: white;
  width: 75%;
  font-size: 15px;
}

.gen {
  height: 100%;
  width: 100%;
  background-color: white;
}

.devise {
  height: 17px;
  width: 101px;
  font: 12px "Open Sans", sans-serif;
  color: #666666;
}

.connexion {
  height: 17px;
  width: 91px;
  font: 12px "Open Sans", sans-serif;
  color: #666666;
}

.compte {
  height: 17px;
  width: 91px;
  font: 12px "Open Sans", sans-serif;
  color: #666666;
}

.search {
  position: relative;
  height: 100px;
  width: 500px;
  left: 600px;
  top: -20px;
  color: #666666;
}

.search div {
  float: left;
}

.wrap {
  top: : 400px;
  height: 100px;
  width: 1200px;
}

.wrap div {
  float: left;
}

.panier {
  position: relative;
  height: 100px;
  width: 100px;
  left: 500px;
  top: -20px;
}

.macoque {
  width: 100s%;
  height: 100%;
  left: 200px;
  right: 500px;
  top: 20px;
  text-align: center;
}

.menu div {
  float: left;
  font: 12px "Open Sans", sans-serif;
}

.menu2 {
  height: 50px;
  width: 80px;
  font: 12px "Open Sans", sans-serif;
}

.apple {
  height: 50px;
  width: 80px;
  font: 12px "Open Sans", sans-serif;
}

.samsung {
  height: 50px;
  width: 100px;
}

.sony {
  height: 50px;
  width: 70px;
}

.lg {
  height: 50px;
  width: 60px;
}

.htc {
  height: 50px;
  width: 60px;
}

.huawei {
  height: 50px;
  width: 80px;
}

.asus {
  height: 50px;
  width: 80px;
}

.wiko {
  height: 50px;
  width: 80px;
}

.autres {
  height: 50px;
  width: 80px;
}

.accesoires {
  height: 50px;
  width: 100px;
}

.home {
  position: relative;
  left: 20%;
  width: 65%;
  font-size: 15px;
  background-color: white;
}

.homeul {
  list-style-type: none;
  margin: 0;
  height: 5%;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}

.cart {
  position: relative;
  height: 30px;
  width: 30px;
  left: 450px;
  color: black
}

.panierfont {
  position: relative;
  right: -500px;
  width: 600px;
  height: 100px;
}

.container {
  height: 400px;
  width: 900px;
}

.container div {
  float: left;
}

.container-gauche div {
  height: 400px;
  width: 450px;
}

.container-droit {
  position: relative;
  left: 40px;
  height: 400px;
  width: 450px;
}

.coque {
  height: 400px;
  width: 400px;
}

.prix {
  font-size: 32px;
}

.qte {
  text-align: center;
  height: 31px;
  width: 78px;
}

.ulajouter {
  height: 50px;
  width: 150px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  text-align: center;
}

.coeur {
  width: 20px;
  height: 20px;
}

.liste {
  width: 150px;
  height: 50px;
  background-color: white;
}

.note {
  font-size: bold;
  font-style: bold;
}

.note_com {
  height: 50px;
  width: 25 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  text-align: center;
}

.Search-bar div {
  float: left;
}

.Search-bar {
  position: relative;
  width: 150px;
  left: 200px;
  text-align: center;
}

.glyphicon-shopping-cart {
  color: black;
}

.font {
  left: 800px;
}

.btn-cart {
  left: 450px;
  width: :50px;
}

.glyphicon-shopping-cart {
  left: 1000px;
  width: :50px;
}

.custom_dropbtn {
  position: relative;
  height: 20px;
  top: -15px;
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 14px;
  border: none;
  font: 12px "Open Sans", sans-serif;
}

.custom_dropdown {
  position: relative;
  display: inline-block;
  top: 0.5px;
}

.custom_dropdown-content {
  display: none;
  top: 20px;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font: 12px "Open Sans", sans-serif;
}

.custom_dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.custom_dropdown-content a:hover {
  background-color: #ddd;
}

.custom_dropdown:hover .custom_dropdown-content {
  display: block;
}

.custom_dropdown:hover .custom_dropbtn {
  background-color: white;
}

.search-btn {
  position: relative;
  right: -430px;
  background: white;
  height: 34px;
  box-sizing: border-box;
}

.fa-search {
  background-color: white;
}

.fa-search::after {
  background-color: white;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}


/* Style the submit button */

form.example button {
  position: relative;
  float: left;
  width: 20%;
  padding: 10px;
  background: black;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
  left: 428px;
}

form.example button:hover {
  background: white;
}


/* Clear floats */

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.img_panier {
  height: 36px
}

img {
  max-width: 100%;
}

* {
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease
}

.my-list {
  width: 100%;
  border: 1px solid #f5efef;
  float: left;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 2px 3px 0px #e4d8d8;
  position: relative;
  overflow: hidden;
}

.my-list h3 {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #ccc4c4;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.my-list span {
  float: left;
  font-weight: bold;
}

.my-list span:last-child {
  float: right;
}

.my-list .offer {
  width: 100%;
  float: left;
  margin: 5px 0;
  border-top: 1px solid #ccc4c4;
  margin-top: 5px;
  padding-top: 5px;
  color: #afadad;
}

.detail {
  position: absolute;
  top: -100%;
  left: 0;
  text-align: center;
  background: #fff;
  height: 100%;
  width: 100%;
}

.my-list:hover .detail {
  top: 0;
}